.home-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper img{
    width: 100%;
}

.btn-secondary{
    background-color: var(--nav-background-color);
}
