@import url("../css/global.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.wishlist-container{
    margin:10rem 5rem 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:min-content;
    column-gap: 20px; 
    row-gap: 20px;
}

.wishlist-card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    overflow: hidden;
    padding: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border:rgba(60, 64, 67, 0.3) ;
    align-items: center;
}

.wishlist-header {
    position: absolute;
    left: 40%;
}

.wishlist-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0rem;
    gap: 0.5rem;
}

.wishlist-name{
    font-size: 1.1rem;
}

.wishlist-price{
    color: brown;
    font-weight: bold;
    font-size: 1rem;
}

.wishlist-card button{
    width: 90%;
}

.btn {
    margin: 0.5rem 0;
}

.wishlist-image-container img{
    overflow: hidden;
    height: 12rem;
}

.fa-star{
    color: gold;
}

/* Media Query */

@media screen and (max-width:1300px) {
    .wishlist-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:760px) {
    .wishlist-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:420px) {
    .wishlist-container{
        margin:10rem 3rem 5rem 3rem;
    }

    .wishlist-card{
        width: 15rem;
    }
    
    .wishlist-image-container img{
        height: 8rem;
    }
}
